<p id="notice"><%= notice %></p>

<h1 class="title">Past Events</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Location</th>
      <th>Date</th>
            <th>Present</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @past_events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.location %></td>
        <td><%= event.date %></td>
        <%
=begin%>
 <td><%= link_to 'Attend Event',  -%></td> 
<%
=end%>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h1 class="title">Upcoming Events</h1>

<table class="table">
  <thead>
    <tr >
      <th>Title</th>
      <th>Description</th>
      <th>Location</th>
      <th>Date</th>
      <th>Present</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @upcoming_events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.location %></td>
        <td><%= event.date %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
